@import "tailwindcss";

:root {
  --deep-violet: #140030;
  --royal-purple: #3E1875;
  --lavender: #A87DF2;
  --white: #FFFFFF;
}

@theme {
  --color-deep-violet: var(--deep-violet);
  --color-royal-purple: var(--royal-purple);
  --color-lavender: var(--lavender);
  --color-white: var(--white);
}

body {
  background-color: var(--deep-violet);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}
